.layout-content {
  width: calc(100% - 5rem);
  margin-left: 5rem;
  z-index: 0;
  position: relative;
  top: 0;
  transition: all 0.5s ease;
  background: #f4f7fa;
  padding: 2rem;
  min-height: 100vh;
}

.layout-content-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

@media (max-width: 768px) {
  .layout-content {
    width: 100%;
    margin-left: 0;
    padding: 1rem;
  }
  
  .layout-content-trimmed {
    width: 100%;
    margin-left: 0;
  }
}
